@media screen and (min-width:1000px) and (max-width:1500px) {

	/*#region Navigation Stuff*/
	.navbar {
		display: flex;
		flex-direction: row;
		gap: 10%;
		justify-content: flex-start;
		align-items: center;
		height: fit-content;
	}

	.logo-container {
		margin-left: 5%;
		display: flex;
		flex-direction: row;
	}

	.nav-row-container ul {
		display: flex;
		flex-direction: row;
		gap: 5%;
	}

	/*#endregion*/

	/*#region Footer Stuff*/
	.footer-logo-container {
		display: flex;
		margin-left: 5%;
		position: relative;
	}

	.navbar.footer ul {
		display: flex;
		flex-direction: row;
		gap: 20%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.footer-cd {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row;
		gap: 5%;
		margin-bottom: 2%;
	}

	/*#endregion*/

	/*#region Works Gallery Stuff*/

	.carousel-previews-container{
		margin-top: 3%;
	}
	
	/*#endregion*/
}