/*Our fonts*/
@font-face {
	font-family: sansation;
	src: url("fonts/sansation.light.ttf");
	font-style: normal;
}

@font-face {
	font-family: sansation-bold;
	src: url("fonts/sansation.bold.ttf");
	font-style: bold;
}

@font-face {
	font-family: sansation-italic;
	src: url("fonts/sansation.italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: sansation-bold-italic;
	src: url("fonts/sansation.bold-italic.ttf");
	font-style: bold italic;
}

* {
	font-family: sansation-bold;
}

/*Our variables*/
:root {
	/*Colors*/
	--primary-color: #f96f5d;
	--dark-primary-color: #800020;
	--dark-primary-color-semi-transparent: #800020a6;
	--light-primary-color: #C2B9AB;
	--secondary-color: #4a7856;
	--dark-secondary-color: #202c59;
	--dark-secondary-color-semi-transparent: #202c59d7;
	--light-secondary-color: #72a580;
	--accent-color: #FAF1C0;
	--primary-text-color: black;
	--secondary-text-color: white;
	/*Font Sizes*/
	--navbar-font-size: 22px;
	--cta-font-size: 18px;
}

/*#region General Stuff*/

body {
	margin: 0;
}

button {
	cursor: pointer;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

nav ul li {
	margin-left: auto;
	margin-right: auto;
	/*float:left;*/
}

nav ul li a {
	font-size: var(--navbar-font-size);
	text-decoration-line: none;
	color: var(--secondary-text-color);
}

/* nav ul li a:hover {
	text-decoration-line: underline;
} */

nav ul li a::after {
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	background: var(--secondary-text-color);
	transition: 250ms;
}

nav ul li a:hover::after {
	width: 100%;
}

/*#endregion*/

/*#region Navigation Bar*/
.navbar {
	display: flex;
	flex-direction: row;
	gap: 25%;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
}

.navbar ul {
	padding-left: 0;
}

.logo-container {
	margin-left: 5%;
	display: flex;
	flex-direction: row;
}

.nav-row-container ul {
	display: flex;
	flex-direction: row;
	gap: 40%;
	text-align: center;
	justify-content: center;
	align-items: center;
	/*overflow: hidden;*/
}

#logo {
	width: 266px;
	height: 100px;
	justify-self: center;
	margin-bottom: 1%;
}

.navbar#column-nav {
	display: none;
}

.hamburger {
	display: none;
}

/*#endregion*/

/*#region Home Page Stuff*/

.homepage-header {
	position: relative;
}

.index-banner {
	display: block;
	object-position: 0 -50px;
	width: 100%;
	object-fit: contain;
}

.homepage-header-content {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 15%;
}

.navbar.top-nav {
	background-color: var(--light-secondary-color);
}

.navbar.top-nav a {
	color: var(--secondary-text-color);
}

.cta {
	width: 30%;
	position: relative;
	margin-top: 10%;
	padding-left: 5%;
	align-self: first baseline;
	padding-bottom: 2%;
	color: var(--secondary-text-color);
	font-size: 20px;
}

.cta button {
	margin-left: 4%;
	border: 0;
	padding: 15px;
	border-radius: 15px;
	font-size: 19px;
}

#works-button {
	background-color: var(--accent-color);
}

#contact-button {
	background-color: var(--primary-color);
}

.showcase-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding-top: 1%;
}

.showcase-section h1{
	text-align: center;
}


.showcase-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 2%;
	height: fit-content;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 3%;
}

.showcase-section.works {
	color: var(--secondary-text-color);
	background-color: var(--dark-primary-color);
}

.showcase-section h3 {
	text-align: center;
}


.more-button {
	display: flex;
	flex-direction: column;
	margin-right: 25%;
	align-self: flex-end;
	background-color: transparent;
	border: 0;
	margin-top: 1%;
	margin-bottom: 1%;
}

.more-button p {
	font-family: sansation;
	font-size: large;
	margin-bottom: 0;
}

.showcase-section.works .more-button p {
	color: var(--secondary-text-color);
}

.more-button svg {
	align-self: flex-end;
	visibility: hidden;
}

.more-button:hover svg {
	visibility: visible;
}

/*#endregion*/

/*#region Footer Stuff*/

footer {
	height: fit-content;
	background-color: var(--secondary-color);
	padding-top: 2%;
	text-align: center;
	color: var(--secondary-text-color);
	padding-bottom: 1%;
}

footer a {
	color: var(--secondary-text-color);
}

.footer-info-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/*text-align: center;*/
}

.footer-logo-container {
	display: flex;
	margin-left: 10%;
	position: relative;
}

.footer-useful-links {
	display: flex;
	flex-flow: column;
	width: 100%;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	margin-bottom: 1%;
}

.navbar.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 1%;
}

.navbar.footer ul {
	display: flex;
	flex-direction: row;
	gap: 40%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.footer-cd {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	gap: 7%;
	margin-bottom: 2%;
}


.footer-cd li {
	display: flex;
	flex-direction: row;
	gap: 10px;
	text-align: center;
	justify-content: stretch;
	align-items: center;
	width: max-content;
}

.footer-cd li img {
	width: 30px;
	height: 30px;
}

#copyright {
	margin-bottom: 0;
}

/*#endregion*/

/*#region Banner Stuff*/

.banner {
	overflow-y: hidden;
	height: 200px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.banner#works{
	background-image: url("images/works-banner.png");
}

.banner#services{
	background-image: url("images/services-banner.jpg");
}

.banner#contact{
	background-image: url("images/contact-banner.png");
}

.banner h1 {
	color: var(--secondary-text-color);
	text-align: center;
}

.banner img {
	width: 100%;
}

/*#endregion*/

/*#region Services Page Stuff (and index)*/

.services-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 2%;
	height: fit-content;
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 3%;
}

.service-button img {
	margin-top: 5%;
	width: 15%;
}

.service-button {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	margin-top: 1%;
	text-align: center;
	border: 2px solid var(--dark-secondary-color);
	border-radius: 10px;
	cursor: pointer;
	text-decoration-line: none;
	transition: border-radius 0.5s;
	/* width: fit-content;
	min-height: 200px;
	max-width: 350px; */
}

.service-button p {
	color: var(--primary-text-color);
	font-size: 20px;
	font-family: sansation;
}

.service-button:hover {
	border-width: 4px;
	border-radius: 25px;
}

.service-button:hover p {
	font-family: sansation-bold;
}

/*#endregion*/

/*#region Service Description Page Stuff*/

.service-segment {
	margin: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
}

.service-article {
	margin-top: 1%;
	margin-left: 20%;
	margin-right: 20%;
}

.service-article img {
	float: right;
	margin-left: 1%;
	margin-bottom: 1%;
	max-width: 300px;
	max-height: 300px;
}

.service-article p {
	font-family: sansation;
}

/*#endregion*/

/*#region Contact Page Stuff*/

.contact-area {
	display: flex;
	gap: 10%;
	justify-content: center;
	align-items: stretch;
	margin-left: 10%;
	margin-right: 10%;
}

.contact-details {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-top: 2%;
}

.contact-area p {
	font-size: large;
	font-family: sansation;
}

.map-container {
	padding-top: 2%;
	padding-bottom: 50%;
	position: relative;
	margin-bottom: 2%;
	width: 100%;
}

.map-container iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.contact-form {
	flex-grow: 1;
	display: flex;
	flex-basis: auto;
	justify-content: center;
	align-items: first baseline;
	align-content: center;
	/* border: 1px solid;
	border-radius: 15px;
	border-color: var(--dark-secondary-color); */
	height: fit-content;
	overflow-x: unset;
}

.contact-form form {
	width: 100%;
	height: 100%;
	margin: 10%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	align-content: end;
	gap: 23px;

}

.form-element {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	border: 2px var(--dark-secondary-color) solid;
	border-radius: 5px;
	width: 100%;
	font-family: sansation;
	font-size: large;
}

textarea {
	resize: vertical;
}


.form-element.button {
	padding-top: 3%;
	padding-bottom: 3%;
	border: 0;
	background-color: var(--accent-color);
	font-family: sansation-bold;
	transition: background-color 0.5s;
}

.form-element.button:hover {
	background-color: var(--primary-color);
}


/*#endregion*/

/*#region Work Page Stuff*/
.gallery {
	margin-top: 7%;
	margin-bottom: 7%;
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	flex-wrap: wrap;
	flex-basis: content;
	align-items: baseline;
	align-content: space-around;
	justify-content: center;
	gap: 1%;

}

.gallery-piece {
	background-color: transparent;
	border: 0;
	padding: 0%;
	margin-top: 1%;
	cursor: pointer;
	position: relative;
	text-align: center;
	color: var(--secondary-text-color);
	height: fit-content;
}


.gallery-piece img {
	display: block;
	max-width: 400px;
	border: 3px solid;
	border-color: var(--dark-secondary-color);
}

.show-image-overlay {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var (--secondary-text-color);
	background-color: var(--dark-primary-color-semi-transparent);
}

@keyframes overlay-anim-on {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes overlay-diag {
	from {
		width: 0%;
		height: 0%;
		display: block;
	}

	to {
		width: 100%;
		height: 100%;
		display: none;
	}
}

@keyframes overlay-diag-rev {
	from {
		width: 100%;
		height: 100%;
	}

	to {
		width: 0%;
		height: 0%;
	}
}

.gallery-piece:hover .show-image-overlay {
	visibility: visible;
	animation-name: overlay-anim-on;
	animation-duration: 0.5s;
}

.gallery-piece:focus-visible .show-image-overlay {
	visibility: visible;
	animation-name: overlay-anim-on;
	animation-duration: 0.5s;
}

.gallery-piece:active .show-image-overlay {
	visibility: visible;
	animation-name: overlay-anim-on;
	animation-duration: 0.5s;
}


.show-image-overlay h2 {
	font-size: 22px;
	position: absolute;
	top: 65%;
	left: 3%;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-primary-color-semi-transparent);
	overflow-y: auto;
	align-content: center;
}

.carousel-touch-surface {
	height: 100%;
	width: 100%;
}

.content-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 0%;
	width: 100%;
	transform: translate(-50%, 0);
	/*pointer-events: none;*/
}

.close-modal {
	padding: 2%;
	align-self: flex-end;
	margin-right: 20%;
	color: var(--secondary-text-color);
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.close-modal p {
	font-size: 32px;
	margin: 0;
	align-self: center;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--secondary-text-color);
	gap: 10%;
	width: 100%;
}

.carousel {
	align-self: center;
	display: grid;
	grid-template-columns: minmax(60px, 25%) minmax(250px, 50%) minmax(60px, 25%);
	overflow-x: visible;
	
}

.carousel-control {
	border: 0;
	background-color: transparent;
	text-align: center;
	align-self: center;
	padding: 3%;
	border-radius: 25px;
}

.carousel-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: fit-content;
}

.carousel-control img {
	width: 100px;
	height: 100px;
}

.carousel-control.left {
	justify-self: start;
}

.carousel-control.left img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.carousel-control.right {
	justify-self: end;
}


#carousel-image {
	justify-self: center;
	max-width: 700px;
}

.carousel-previews-container{
	margin-top: 2%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 1%;
	overflow-x: hidden;
	width: 100%;
}

.carousel-previews-container a {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 3px solid;
  border-color: var(--secondary-text-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}


/*#endregion*/