@media screen and (max-width:900px) {

	/*#region Navigation Stuff*/
	.nav-row-container {
		display: none;
		/* 	display: flex;
		flex-direction: row;
		gap: 5%; */
	}

	.navbar.top-nav {
		justify-content: flex-start;
		align-items: center;
		gap: 25%;
	}

	.logo-container {
		margin-left: 0;
		align-self: center;
	}

	/*#endregion*/

	/*#region Home Header Stuff*/

	.index-banner {
		display: none;
	}

	.homepage-header-content {
		background-image: url("images/home-banner-2.png");
		background-position: 50% 50%;
		position: relative;
		top: 5%;
		width: 100%;
		height: fit-content;
		align-content: center;
		padding-bottom: 10%;
	}

	.cta {
		margin-top: 5%;
		padding-left: 0;
		align-self: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100%;
		gap: 5%;
	}

	.cta button {
		margin-left: 0;
	}

	/*#endregion*/

	/*#region Hamburger Modal Stuff*/

	.hamburger {
		display: block;
		margin-left: 2%;
	}

	.hamburger img {
		width: 60px;
		height: 60px;
	}

	.navbar#column-nav {
		display: none;
		z-index: 3;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-color);
		overflow-y: auto;
		align-content: center;
		transition: display 2s;
	}

	.nav-column-container {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		align-content: stretch;
		justify-content: center;
		gap: 5%;
	}

	.nav-column-container ul {
		margin-left: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20%;

	}

	.nav-column-container .logo-container {
		align-self: center;
	}

	.close-column-nav {
		position: absolute;
		padding: 1%;
		right: 20%;
		top: 20%;
		color: var(--secondary-text-color);
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.close-column-nav p {
		font-size: 32px;
		margin: 0;
		align-self: center;
	}

	/*#endregion*/

	/*#region Footer Stuff*/

	.footer-info-section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		/*text-align: center;*/
	}

	.navbar.footer {
		align-content: stretch;
	}

	.navbar.footer ul {
		/* padding-left: 0; */
		margin: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		gap: 4vh;
		text-align: center;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.footer-cd {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 11%;
		margin-bottom: 2%;
	}

	/*#endregion*/


}

@media screen and (max-width:1000px) {

	/*#region Services Stuff*/
	.services-container{
		flex-direction: column;
	}

	.service-button{
		margin-bottom: 3%;
	}
	/*#endregion*/

	/*#region Service Description Stuff*/
	.service-article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.service-article img {
		margin-left: 1%;
		margin-bottom: 1%;
		max-width: 200px;
		max-height: 200px;
	}

	/*#endregion*/

	/*#region Contact Page Stuff*/

	.contact-area {
		flex-direction: column;
	}

	/*#endregion*/
}

@media screen and (max-width:500px) {

	/*#region Navigation Stuff*/
	.navbar.top-nav {
		justify-content: flex-start;
		align-items: center;
		gap: 2%;

	}

	.logo-container {
		margin-left: 0;
		align-self: center;
	}

	/*#endregion*/

	/*#region Hamburger Stuff*/
	.hamburger {
		margin-left: 5%;
	}

	.hamburger img {
		width: 40px;
		height: 40px;
	}

	/*#endregion*/
}