@media screen and (max-width:900px) {

	/*#region Navigation Stuff*/
	.nav-row-container {
		display: none;
		/* 	display: flex;
		flex-direction: row;
		gap: 5%; */
	}

	.navbar.top-nav{
		justify-content: flex-start;
		align-items: center;
		gap: 25%;
		/*FIXME: Logo and hamburger gapping*/
	}

	.logo-container {
		margin-left: 0;
		align-self: center;
	}

	/*#endregion*/

	/*#region Home Header Stuff*/
	.homepage-header img {
		object-position: left 90%;
	}

	.homepage-header-content {
		align-content: center;
	}

	.cta {
		align-self: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20%;
	}

	/*#endregion*/

	/*#region Contact Page Stuff*/

	.contact-area {
		flex-direction: column;
	}

	/*#endregion*/

	/*#region Hamburger Modal Stuff*/

	.hamburger {
		display: block;
		margin-left: 2%;
	}

	.hamburger img {
		width: 60px;
		height: 60px;
	}

	.navbar#column-nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-color);
		overflow-y: auto;
		align-content: center;
		transition: display 2s;
	}

	.nav-column-container {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		align-content: stretch;
		justify-content: center;
		gap: 5%;
	}

	.nav-column-container ul {
		margin-left: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20%;

	}

	.nav-column-container .logo-container {
		align-self: center;
	}

	.close-column-nav {
		position: absolute;
		padding: 1%;
		right: 20%;
		top: 20%;
		color: var(--secondary-text-color);
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}

	.close-column-nav p {
		font-size: 32px;
		margin: 0;
		align-self: center;
	}

	/*#endregion*/

	/*#region Footer Stuff*/

	.footer-info-section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		/*text-align: center;*/
	}

	.navbar.footer{
		align-content: stretch;
	}

	/* .navbar.footer nav {
		display: flex;
		height: 100%;
	} */

	.navbar.footer ul {
		/* padding-left: 0; */
		margin: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		gap: 4vh;
		text-align: center;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.footer-cd {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 11%;
		margin-bottom: 2%;
	}

	/*#endregion*/


}

@media screen and (max-width:1000px) {

	/*#region Service Description Stuff*/
	.service-article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.service-article img {
		margin-left: 1%;
		margin-bottom: 1%;
		max-width: 200px;
		max-height: 200px;
	}

	/*#endregion*/
}