@font-face {
	font-family: nimbus;
	src: url("fonts/nimbus-mono.regular.otf");
	font-style: normal;
}

@font-face {
	font-family: nimbus-bold;
	src: url("fonts/nimbus-mono.bold.otf");
	font-style: bold;
}

* {
	font-family: nimbus-bold;
}

:root {
	--primary-color: #2626cb;
	--secondary-text-color: white;
}

/*#region Navigation Bar*/
.navbar {
	display: flex;
	/*justify-content: stretch;*/
	/*align-content: center;*/
}
nav {
	/*margin: auto;*/
	/*padding-left: 5%;*/
	width: 100%;
	justify-content: center;
	align-items: center;
}

nav ul li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	/*float:left;*/
}

nav ul li a {
	color: black;
	font-size: large;
	text-decoration-line: none;
}

nav ul li a:hover {
	text-decoration-line: underline;
}

nav ul {
	list-style-type: none;
	text-align: center;
	/*overflow: hidden;*/
}

#logo {
	margin: auto;
	padding-left: 30px;
	width: 100px;
	height: 100px;
}

/*#endregion*/

.homepage-header {
	background-color: blanchedalmond;
}

.top-nav {
	background-color: var(--primary-color);
	height: fit-content;
}

.cta {
	width: 50%;
	position: relative;
	margin: auto;
	/*padding-left: 5%;*/
	display: flexbox;
	align-self: center;
}

.showcase-section {
	align-content: center;
}

.showcase-section h3 {
	text-align: center;
}
.showcase-section-buttons {
	text-align: center;
	margin: auto;
	border-spacing: 47%;
}

.showcase-service-button {
	width: fit-content;
}

.showcase-service-button p {
	width: 50%;
}

/*.showcase-section-buttons td{
	padding-right: 2%
}*/

.show-image {
	margin: auto;
	position: relative;
	text-align: center;
	/*align-content: center;*/
	width: 20%;
}

.show-image-overlay {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(84, 1, 14, 0.7);
}

.show-image:hover .show-image-overlay {
	visibility: visible;
}

.show-image-overlay p {
	position: absolute;
	top: 75%;
	left: 10%;
}

.normal-text {
	font-family: nimbus;
}

.secondary-text {
	color: whitesmoke;
}

/*TODO: Fix huge gaps in footer*/

footer {
	height: fit-content;
	background-color: saddlebrown;
	padding-top: 2%;
	text-align: center;
}

footer p {
	color: whitesmoke;
}


.contact-details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	gap: 5%;
}

.banner {
	position: relative;
}

.banner h1 {
	color: var(--secondary-text-color);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 45%;
}

.banner img {
	width: 100%;
}

.main {
	align-self: center;
}

.services-table {
	margin-top: 10%;
	margin-bottom: 10%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-spacing: 10px;
	border-collapse: separate;
}

.services-table img {
	margin-top: 5%;
	width: 15%;
}

.services-table td {
	border: 2px solid black;
	border-radius: 20px;
	align-self: center;
}

.service-segment{
	align-items: center;
	justify-content: center;
}

.service-segment article{
	align-self: center;
	/* align-items: center;
	justify-content: center; */
	width:50%;
	height: fit-content;
}

.service-segment img{
	float: right;
	width: 100px;
	height: 100px;
}

.contact-area{
	display:flexbox;
	align-content: center;
}

.contact-details{
	font-family: nimbus;
	display: block;
}

.map-container{
	padding-top: 2%;
	padding-bottom: 50%;
	position: relative;
	height: 100%;
}
.map-container iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

.contact-form{
	display: block;
}