@media screen and (max-width:1200px) {

	/*#region Navigation Stuff*/
	.navbar {
		display: flex;
		flex-direction: row;
		gap: 10%;
		justify-content: flex-start;
		align-items: center;
		height: fit-content;
	}

	.logo-container {
		margin-left: 1%;
		display: flex;
		flex-direction: row;
	}

	.nav-row-container ul {
		display: flex;
		flex-direction: row;
		gap: 5%;
	}

	/*#endregion*/

	/*#region Footer Stuff*/
	.footer-logo-container {
		display: flex;
		margin-left: 5%;
		position: relative;
	}

	.navbar.footer ul {
		display: flex;
		flex-direction: row;
		gap: 20%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.footer-cd {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row;
		gap: 5%;
		margin-bottom: 2%;
		margin-right: 3%;
	}

	/*#endregion*/

	/*#region Works Gallery Stuff*/

	.carousel-previews-container{
		margin-top: 3%;
	}
	
	/*#endregion*/

	/*#region Contact Page Stuff*/

	.contact-area {
		flex-direction: column;
	}

	/*#endregion*/

}

@media screen and (max-width:1280px) {
		.navbar{
		gap: 16%;
	}

	.nav-row-container ul{
		gap: 16%;
	} 

	.navbar.footer ul{
		gap: 24%;
	}
}