/*Our fonts*/
@font-face {
	font-family: nimbus;
	src: url("fonts/nimbus-mono.regular.otf");
	font-style: normal;
}

@font-face {
	font-family: nimbus-bold;
	src: url("fonts/nimbus-mono.bold.otf");
	font-style: bold;
}

* {
	font-family: nimbus-bold;
}

/*Our variables*/
:root {
	/*Color*/
	--primary-color: #635C51;
	--dark-primary-color: #4E464E;
	--dark-primary-color-semi-transparent:#4e464e6e;
	--light-primary-color: #C2B9AB;
	--secondary-color: #39304A;
	--dark-secondary-color: #202030;
	--light-secondary-color: white; /*TODO: Add light secondary color?*/
	--accent-color: #A0BCC9;
	--primary-text-color: black;
	--secondary-text-color: white;
}

body{
	margin: 0;
}

/*#region Navigation Bar*/
.navbar {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	height: fit-content;
}

/*FIXME: why so wide?*/

nav{
	display: flex;
	justify-self:center;
}

nav ul {
	display: flex;
	flex-direction: row;
	gap: 40%;
	list-style-type: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	/*overflow: hidden;*/
}



nav ul li {
	margin-left: auto;
	margin-right: auto;
	/*float:left;*/
}

nav ul li a {
	font-size: large;
	text-decoration-line: none;
}

nav ul li a:hover {
	text-decoration-line: underline;
}

#logo {
	width: 100px;
	height: 100px;
	justify-self: center;
}

/*#endregion*/

.homepage-header {
	background-image: url('images/home-banner.png');
	background-size: cover;
	color : var(--secondary-text-color);
}

.homepage-header a {
	color: var(--secondary-text-color);
}

.navbar.top-nav {
	background-color: var(--light-primary-color);
	height: fit-content;
}

.navbar.top-nav a{
	color: var(--primary-text-color);
}

.cta {
	width: 50%;
	position: relative;
	margin: auto;
	/*padding-left: 5%;*/
	display: flexbox;
	align-self: center;
	padding-bottom: 2%;
}

.cta button{
	border: 0;
	padding: 15px;
	border-radius: 15px;
}

#works-button{
	background-color: var(--light-primary-color);
}

#contact-button{
	background-color: var(--accent-color);
}

.showcase-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
}

.showcase-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding-top: 1%;
}

.showcase-section.works{
	color: var(--secondary-text-color);
	background-color: var(--dark-primary-color);
}

.showcase-section h3 {
	text-align: center;
}

.showcase-section-buttons {
	margin-top: 1%;
	margin-bottom: 1%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-spacing: 10px;
	border-collapse: separate;
}

.showcase-service-button {
	width: fit-content;
	border: 2px solid black;
	border-radius: 20px;
	align-self: center;
	justify-content: center;
	cursor: pointer;
}

.showcase-service-button p {
	width: 50%;
}

.show-image {
	cursor: pointer;
	margin: auto;
	position: relative;
	text-align: center;
	/*align-content: center;*/
	width: 20%;
}

.show-image-overlay {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var (--secondary-text-color);
	background-color: var(--dark-primary-color-semi-transparent);
}

.show-image:hover .show-image-overlay {
	visibility: visible;
}

.show-image-overlay p {
	position: absolute;
	top: 75%;
	left: 10%;
}

.more-button{
	cursor: pointer;
	margin-right: 25%;
	align-self: flex-end;
	background-color: transparent;
	border: 0;
}

.more-button p {
	font-family: nimbus;
	font-size: large;
}

.more-button svg{
	visibility: hidden;
}

.more-button:hover svg{
	visibility: visible;
}

.normal-text {
	font-family: nimbus;
}


/*FIXME: Fix huge gaps in footer*/

footer {
	height: fit-content;
	background-color: var(--dark-secondary-color);
	padding-top: 2%;
	text-align: center;
	color: var(--secondary-text-color);
}

footer a{
	color: var(--secondary-text-color);
}

.footer-info-section{
	display: flex;
	justify-content: center;
	text-align: center;
}

.footer-logo{
	margin-right: 10%;
	position: relative;
}

.footer-cd {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	gap: 5%;
}

#copyright{
	margin-bottom: 0;
}

/*#region Banner Stuff*/

.banner {
	position: relative;
	height: max-content;
}

.banner h1 {
	color: var(--secondary-text-color);
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	margin-left: -5%;
}

.banner img {
	width: 100%;
}

/*#endregion*/

.main {
	align-self: center;
}

/*#region Services Page Stuff (and index)*/

.services-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-table {
	margin-top: 1%;
	margin-bottom: 5%;
	align-content: center;
	justify-content: center;
	text-align: center;
	border-spacing: 10px;
	border-collapse: separate;
}

.services-table img {
	margin-top: 5%;
	width: 15%;
}

.services-table td {
	border: 2px solid black;
	border-radius: 20px;
	align-self: center;
	cursor: pointer;
}
/*#endregion*/

/*#region Service Description Page Stuff*/

.service-segment {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10%;
}

.service-article {
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;	
}

.service-article img {
	float: right;
	margin-left: 1%;
	max-width: 300px;
	max-height: 300px;
}

.service-article p{
	font-family: nimbus;
}

/*#endregion*/

/*#region Contact Page Stuff*/

.contact-area {
	display: flex;
	gap: 10%;
	justify-content: center;
	align-items: stretch;
	margin-left: 10%;
	margin-right: 10%;
}

.contact-details {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.contact-details p{
	font-size: large;
	font-family: nimbus;
}

.map-container {
	padding-top: 2%;
	padding-bottom: 50%;
	position: relative;
	margin-bottom: 2%;
	width: 100%;
}

.map-container iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.contact-form{
	flex-grow: 1;
	display: flex;
	height: 100%;
	justify-content: center;
	align-content: stretch;
	border: 2px solid;
	border-radius: 15px;
	border-color: var(--dark-secondary-color);
}

.contact-form form{
	margin: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:self-start;
	align-content: stretch;
	gap: 23px;
}

.contact-form form button{
	align-self: center;
}
/*#endregion*/

/*#region Work Page Stuff*/
.gallery{
	margin-top: 7%;
	margin-bottom: 7%;
	margin-left: 10%;
	margin-right: 10%;
	align-items: baseline;
	align-content: space-around;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap:2%;

}


.gallery-piece img{
	max-width: 400px;
	border: 3px solid;
	border-color: var(--dark-primary-color);
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	overflow-y: auto;
	align-content: center;
}

.close-modal {
	position: absolute;
	align-content: center;
	padding: 1%;
	right: 25px;
	top: 10px;
	color: black;
	background-color: beige;
	font-size: 40px;
	font-weight: normal;
	cursor: pointer;
	border-radius: 25px;
}

.modal-content {
	position: relative;
	text-align: center;
	color: var(--secondary-text-color);
}

.carousel{
	display: flex;
	align-items: baseline;
	align-content: space-evenly;
	justify-content: center;
}


/*#endregion*/



@media screen and (max-width:1000px) {
	nav ul{
		display: flex;
		flex-direction: row;
		gap: 10%;
	}
}

@media screen and (max-width:600px){
	nav ul{
		display: flex;
		flex-direction: row;
		gap: 5%;
	}
}