/*Our fonts*/
@font-face {
	font-family: nimbus;
	src: url("fonts/nimbus-mono.regular.otf");
	font-style: normal;
}

@font-face {
	font-family: nimbus-bold;
	src: url("fonts/nimbus-mono.bold.otf");
	font-style: bold;
}

* {
	font-family: nimbus-bold;
}

/*Our variables*/
:root {
	/*Color*/
	--primary-color: #635C51;
	--dark-primary-color: #4E464E;
	--dark-primary-color-semi-transparent:#4e464e6e;
	--light-primary-color: #C2B9AB;
	--secondary-color: #39304A;
	--dark-secondary-color: #202030;
	--light-secondary-color: white; /*TODO: Add light secondary color?*/
	--accent-color: #A0BCC9;
	--primary-text-color: black;
	--secondary-text-color: white;
}

/*#region Navigation Bar*/
.navbar {
	display: flex;
	height: fit-content;
}

/*FIXME: why so wide?*/

nav {
	padding-left: 5%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style-type: none;
	text-align: center;
	/*overflow: hidden;*/
}

nav ul li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	/*float:left;*/
}

nav ul li a {
	/*color: black;*/
	font-size: large;
	text-decoration-line: none;
}

nav ul li a:hover {
	text-decoration-line: underline;
}

#logo {
	margin: 1%;
	padding-left: 30px;
	width: 100px;
	height: 100px;
}

/*#endregion*/

.homepage-header {
	background-image: url('images/home-banner.png');
	background-size: cover;
	color : var(--secondary-text-color);
}

.homepage-header a {
	color: var(--secondary-text-color);
}

.navbar.top-nav {
	background-color: var(--light-primary-color);
	height: fit-content;
}

.navbar.top-nav a{
	color: var(--primary-text-color);
}

.cta {
	width: 50%;
	position: relative;
	margin: auto;
	/*padding-left: 5%;*/
	display: flexbox;
	align-self: center;
}

.showcase-section {
	align-content: center;
	
}

.showcase-section h3 {
	text-align: center;
}

.showcase-section-buttons {
	margin-top: 10%;
	margin-bottom: 10%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-spacing: 10px;
	border-collapse: separate;
}

.showcase-service-button {
	width: fit-content;
	border: 2px solid black;
	border-radius: 20px;
	align-self: center;
	justify-content: center;
	cursor: pointer;
}

.showcase-service-button p {
	width: 50%;
}

.show-image {
	margin: auto;
	position: relative;
	text-align: center;
	/*align-content: center;*/
	width: 20%;
}

.show-image-overlay {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var (--secondary-text-color);
	background-color: var(--dark-primary-color-semi-transparent);
}

.show-image:hover .show-image-overlay {
	visibility: visible;
}

.show-image-overlay p {
	position: absolute;
	top: 75%;
	left: 10%;
}

.normal-text {
	font-family: nimbus;
}


/*FIXME: Fix huge gaps in footer*/

footer {
	height: fit-content;
	background-color: var(--dark-secondary-color);
	padding-top: 2%;
	text-align: center;
	color: var(--secondary-text-color);
}

footer a{
	color: var(--secondary-text-color);
}

.footer-info-section{
	display: flex;
	justify-content: center;
	text-align: center;
	
}

.footer-logo{
	margin-right: 10%;
	position: relative;
}

/* .footer-logo img{
	width: 50 px;
	height: 50 px;
} */

.footer-cd {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	gap: 5%;
}

.banner {
	position: relative;
}

.banner h1 {
	color: var(--secondary-text-color);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 45%;
}

.banner img {
	width: 100%;
}

.main {
	align-self: center;
}

.services-table {
	margin-top: 10%;
	margin-bottom: 10%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-spacing: 10px;
	border-collapse: separate;
}

.services-table img {
	margin-top: 5%;
	width: 15%;
}

.services-table td {
	border: 2px solid black;
	border-radius: 20px;
	align-self: center;
	cursor: pointer;
}

.service-segment {
	align-items: center;
	justify-content: center;
}

.service-segment article {
	align-self: center;
	/* align-items: center;
	justify-content: center; */
	width: 50%;
	height: fit-content;
}

.service-segment img {
	float: right;
	width: 100px;
	height: 100px;
}

.contact-area {
	display: flex;
	flex-direction: row;
	row-gap: 50px;
	justify-content: center;
	width: 100%;
}

.contact-details {
	font-family: nimbus;
	/*display: block;*/
}

.map-container {
	padding-top: 2%;
	padding-bottom: 50%;
	position: relative;
	/*height: 100%;*/
}

.map-container iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.contact-form {
	display: block;
}

/*region Work Page Stuff*/
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	overflow-y: auto;
	align-content: center;
}

.close-modal {
	position: absolute;
	align-content: center;
	padding: 1%;
	right: 25px;
	top: 10px;
	color: black;
	background-color: beige;
	font-size: 40px;
	font-weight: normal;
	cursor: pointer;
	border-radius: 25px;
}

.modal-content {
	position: relative;
	text-align: center;
	color: var(--secondary-text-color);
}

.carousel-control {
	position: relative;
	top: 50%;
}

/*endregion*/